*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,span{
  font-size: 16px !important;
}
.AppHeader {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  border-bottom: 2px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  z-index: 99;
}
.AppFooter {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  border-top: 2px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.SidebarAndContent{
  display: flex;
  flex: 1 ;
  justify-content: flex-start;
  align-items: flex-start;
  background: #00000010;
}
.dashboard_container{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.custom-value{
  font-size: 20px;
}
.inventory_container{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.ant-table-thead .ant-table-cell{
    background: #b8c475 !important;
}

.ant-table-tbody .ant-table-cell{
  background: #b8c47531;
  border-color:gray !important ;
}
.SideMenuVertical{
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 10px;
}
.SideMenu{
  position: sticky !important;
  top: 0 !important;
}